.Portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 165, 165);
    width: 100%;
    flex-direction: column;
}


.Portfolio-title p {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 2%;
}

.Project-section {
    width: auto;
    background-color: rgb(12, 12, 12);
    height: 700px;
}
.device-comp {
    display: flex;
    flex-direction: row;
}
.project-button {
    align-items: center;
    justify-content: center;
}