.Portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    width: 100%;
    flex-direction: column;
}

.Portfolio-title h1{
    color: white;
    font-size: 50px;
}


.Portfolio-title p {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 2%;
    color: white;
    font-size: 20px;
}

.Project-section {
    width: auto;
    background-color:white;
    
    
}
.device-comp {
    display: flex;
    flex-direction: column;
}
.button-project {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    
}
.Title_and_Image {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}
.Title_and_Image h1{
    font-size: 42px;
    margin-top: 4%;
    font-weight: bolder;
    margin-left: 2%;

}
.title_github {
  display: flex;
  flex-direction: column;
}

.github-img img{
  height: 70px;
  width: 70px;
  margin-left: 33%;
  margin-top: 70%;

}


   
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
 
 @media (max-width: 1380px) {
    .Portfolio-title h1{
        color: white;
        font-size: 45px;
    }
    
    .Portfolio-title p {
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
        margin-bottom: 2%;
        color: white;
        font-size: 20px;
    }
  
    
  }
  @media (max-width: 768px) {
    .Portfolio-title h1{
        color: white;
        font-size: 30px;
    }
    .Portfolio-title p {

        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
    }
    .Title_and_Image h1 {
        justify-content: center; 
        font-size: 30px;
    }
    .Title_and_Image {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      justify-content: space-between;
  }
  .Title_and_Image h3 {
    justify-content: center; 
    font-size: 17px;
    margin-left: 0%;
}

.github-img img{
  height: 40px;
  width: 40px;
  margin-left: 6%;
  margin-top: 0%;

}
    
  } 