.Portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e9c9;
    width: 100%;
    flex-direction: column;
}


.Portfolio-title p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Project-section {
    width: auto;
    background-color: rgb(246, 120, 250);
    height: 700px;
}
.device-comp {
    display: flex;
    flex-direction: row;
}