
  .main-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 40px;
    background-color: transparent;
  }
  
  .software-skills {
    margin-bottom: 10%;
    margin-top: 6%;
  }
  





  /* Media Query */
  @media (max-width: 1380px) {
    .skills-heading {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .skills-heading {
      font-size: 30px;
      text-align: center;
    }
    .greeting-text-p {
      font-size: 16px;
      line-height: normal;
    }
    .skills-main-div {
      flex-direction: column
    }
    .skills-text-div {
      margin-left: 0px;
      margin: 20px;
    }
    .skills-text {
      font-size: 16px;
    }
    .skills-text-subtitle {
      font-size: 16px;
      text-align: center;
    }
    .skills-image-div {
      /* display: none; */
      order: 2;
    }
  }