.About-section {
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
    margin: 0px auto;


}

.title h1{
    margin-top: 2em;
    color: white;
    text-align: center;
}
.details {
    margin-top: 5em;
    margin-bottom: 7em;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 44px;
    text-align: center;
    word-spacing: 5px;
}



/* 
.Portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    flex-direction: column;
}


.Portfolio-title p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Project-section {
    width: auto;
    background-color: rgb(246, 120, 250);
    height: 700px;
}
.device-comp {
    display: flex;
    flex-direction: row;
} */