.mobile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.app-image {
    display: flex;
    padding: 20px;
    
 
}

.app-image img{
   
    opacity: 95%;
   
}

.text-and-title h1 {
    color: white;
    margin-top: 30px;
    margin-left: 14px;
    font-weight: bold;

} 
.text-and-title p {
    color: white;
    margin-top: 40px;
    font-size: 30px;
    margin-left: 14px;
    opacity: 80%;
} 

@media (max-width: 768px) {

    
.app-image img{
   
    opacity: 95%;
    width: 100%;
   
}

} 