
  .contact-main {
    width: 100%;
    margin: 0px auto;
    background-color: black;
  }
  
  .detail-main > * {
    flex: 1;
    margin-bottom: 200px;
  }
  
  .detail-main {
    display: flex;
    margin-left: 24%;
  

  }
  .text-box {
      margin-top: 10%;
  }
  .name-text {
      color: white;
      font-size: 50px;
  }
  .location-text {
      color: rgb(129, 129, 129);
      font-size: 20px;
  }
  .contact-details {
      margin-top: 6%;
      font-size: 21px;
      color: rgb(129, 129, 129);
      margin-right: 50%;
  }
  .email-p {
      font-size: 21px;
      color: white;
  }

  .github-image img{
       height: 50px;
       width: 50px;
       
  }
  .social-contact {
      display: flex;
      flex-direction: row;
  }


  .linkdn-image img{
    height: 50px;
    width: 50px;
    margin-left: 19px;
  }






  




   
 @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
 
 @media (max-width: 1380px) {
  .detail-main {
    display: flex;
    margin-left: 25%;
    }
    .name-text {
      font-size: 40px;
    }
    .greeting-text-p {
      font-size: 20px;
    }
    .contact-details {
      font-size: 20px;
      margin-right: 30%;
    }
    .email-p {
      font-size: 20px;
     
    }
  }
  @media (max-width: 768px) {
    .detail-main {
      display: flex;
      margin-left: 8%;
      }
      .name-text {
        font-size: 30px;
      }
      .contact-details {
        font-size: 20px;
        margin-right: 5%;
      }
      .email-p {
        margin-top: 7%;
        font-size: 17px;
       
      }
  } 